<h2>Contact</h2>
<p>Name: Cole Kulig</p>
<p>Age: <%= @coles_age %></p>
<p>Hobbies: Video Games, Watching TV, coding, and looking up Computer Hardware and Car parts</p>
<p>Graduation Date: December 2017</p>
